
  html {
    font-size: 1.2em;
  }
  
  body {
    background: grey;
      color: #fefefe;
      align-items: center;
      justify-content: center;
      line-height: 200%;
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    display: block;
  }

  main{
    font-size: 1em;
}

div{
    width: 900px;
  border: 1px solid;
  min-height: 10vh;
  line-height: 100%;
    font-size: 1em;
    margin-left: 15%;
    margin-top:35%;
    border-bottom: none;
    background-color: #515151;
}

  h1{
      display: block;
  }

input{
    background-color: #343434;;
    outline:none;
    margin-left: 30%;
    width: 20%; 
    color: grey;
}
button{
    margin-left: 10%;
    background-color: #343434;
    color: grey;
}

.notes{
  width: 200px;
  height: 700px;
  border: 1px solid;
  min-height: 10vh;
  line-height: 100%;
    font-size: 1em;
    margin-left: 85%;
    margin-top: -40%;
    border-bottom: none;
    background-color: lightyellow;
    color: black;
    text-align: center;
}

#notes{
  margin-left: 40%;
  margin-top: 5%;
}

#option5{
  margin-left: 3%;
}

span{
  font-size: 1em;
}

p{
  font-size: 0.1em;
  min-height: 10vh;
  line-height: 100%;
}